@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: rgb(45, 211, 111);
  font-family: "Inter", sans-serif;
  margin: 0;
}

header {
  text-align: right;
}

header button {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 18px;
  width: auto;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-filed {
  margin-bottom: 10px;
}

input,
button,
select {
  padding: 10px;
  width: -webkit-fill-available;
}
input[type="radio"] {
  width: auto;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.loading label {
  font-size: 24px;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
}

button:active {
  opacity: 0.8;
}

button[disabled] {
  opacity: 0.7;
}

button.fab {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  box-shadow: 2px 2px 2px #808080;
}

button.fab.fixed {
  position: fixed;
}

button.fab.bottom {
  bottom: 32px;
}

button.fab.right {
  right: 32px;
}

.clear {
  background: transparent;
  border: none;
  color: #fff;
}

.solid {
  background-color: #fff;
  border: none;
  color: rgb(45, 211, 111);
  margin-top: 10px;
}

.outline {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.outline.danger {
  color: #ff0000;
  border-color: #ff0000;
}

.error {
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  display: none;
}
